.module-text {
  .module-text-content {
    margin-top: 20vh;
    margin-bottom: 20vh;

    @include media-breakpoint-down(md) {
      margin-top: 10vh;
      margin-bottom: 10vh;
    }

    p {
      &:last-of-type {
        margin-bottom: 32px;
      }
    }
  }
}
