.footer-info {
  margin-top: 120px;
  padding: 80px 0 60px;
  color: white;
  background-color: #333;

  .footer-logo {
    width: 250px;
    display: block;
    margin-bottom: 60px;
  }

  a {
    color: white;
  }

  .copyright {
    margin: 40px 0 0;
  }
}
