.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px 0;
  z-index: 3;
  transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;

  .logo {
    width: 250px;
    transition: width 0.3s ease-in-out;

    img {
      max-width: 100%;
    }
  }

  .nav {
    display: flex;

    & > li {
      &.menu-item-language {
        & > a {
          display: none;
        }
      }

      &.menu-item-type-custom {
        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      & > a {
        color: white;
        margin-right: 32px;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: #6250d1;
        }
      }

      ul {
        list-style-type: none;
        padding-left: 0;

        a {
          color: white;
          transition: color 0.2s ease-in-out;

          &:hover {
            color: #6250d1;
          }
        }
      }
    }
  }
}

.scrolled {
  .header {
    padding: 18px 0;
    background-color: rgba(0, 0, 0, 0.8);

    .logo {
      width: 200px;
    }
  }
}
