.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px 0 0;
  z-index: 3;

  .logo {
    width: 250px;

    img {
      max-width: 100%;
    }
  }

  .nav {
    a {
      color: white;
      margin-right: 24px;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: #6250d1;
      }
    }

    .menu-item-language {
      display: flex;

      ul {
        list-style-type: none;
        padding-left: 0;

        a {
          margin-right: 0;
        }
      }
    }
  }
}
