.single-product {
  .single-product-hero-section {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .single-product-hero-section-content {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      color: white;

      h2 {
        margin-bottom: 12px;
        font-size: 44px;
      }

      .woocommerce-product-details__short-description {
        font-size: 24px;
        width: 60%;
      }
    }
  }
}
