%pagination-active {
  display: inline-block;
}

%cover-page {
  position: relative;
  min-height: 350px;

  &::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
  }
}

.woocommerce {
  a.button,
  button.button,
  input.button,
  &-error .button,
  &-info .button,
  &-message .button,
  &-page &-error .button,
  &-page &-info .button,
  &-page &-message .button,
  .cart .button,
  .cart input.button,
  #respond input#submit {
    @extend .btn-primary;
  }

  .select2-container--default .select2-selection--single,
  form .form-row input.input-text,
  form .form-row textarea {
    border: none !important;
    border-bottom: 1px solid #212529 !important;
    border-radius: 0 !important;
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    color: #212529;
  }

  /** Archive page */
  &-archive-header {
    @extend %cover-page;

    img {
      max-height: 350px;
      width: 100%;
      object-fit: cover;
    }

    header {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      z-index: 2;
    }
  }

  .woocommerce-breadcrumb {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
  }

  ul {
    &.order_details {
      padding-left: 0;
    }

    &.products {
      li {
        &.product {
          .button {
            @extend .btn-primary;

            &.product_type_external {
              padding: 0;
              border: none;
            }
          }

          .onsale {
            width: 30px;
            height: 30px;
            line-height: 2.5;
            z-index: 2;
          }
        }
      }
    }
  }

  nav {
    &.woocommerce-pagination {
      ul {
        &.page-numbers {
          border: none;
        }

        li {
          display: inline-block;
          width: 35px;
          height: 35px;
          border-radius: 50px;
          margin-right: 10px;
          border: 1px solid #ccc;

          &:last-child {
            margin-right: 0;
          }

          a,
          span {
            display: block;
            width: 100%;
            height: 100%;
          }

          span {
            &.current {
              @extend %pagination-active;
            }
          }

          a {
            &:focus,
            &:hover {
              @extend %pagination-active;
            }
          }
        }
      }
    }
  }

  .product {
    &__detail {
      padding-top: 30px;
    }

    &__action {
      position: relative;
      top: -50px;
      border-radius: 10px;
      padding: 30px;
      -webkit-box-shadow: 5px 13px 19px -1px rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 5px 13px 19px -1px rgba(0, 0, 0, 0.19);
      box-shadow: 5px 13px 19px -1px rgba(0, 0, 0, 0.19);
      background: $white;
    }
  }

  button#submit,
  button.button,
  input.button,
  a.button {
    &.alt {
      @extend .btn-primary;
    }
  }

  .cart {
    margin-bottom: 20px;

    .quantity {
      display: inline-block;
    }
  }

  /** Cart page */
  &-page-hero-section {
    @extend %cover-page;

    &-content {
      padding-top: 50px;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: $white;
      z-index: 2;

      .page-header {
        text-align: center;
      }
    }
  }

  form.woocommerce-cart-form,
  form.woocommerce-checkout {
    padding-top: 50px;
  }

  /** Page checkout */
  .col2-set {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &::before,
    &::after {
      display: none;
    }

    >div {
      flex: 0 0 48%;
      max-width: 48%;
      padding: 0;
    }
  }

  &-thankyou-order-received {
    margin-top: 50px;
  }
}
