%pagination-active {
  display: inline-block;
}

.woocommerce {
  &-archive-header {
    position: relative;

    img {
      max-height: 350px;
      width: 100%;
      object-fit: cover;
    }

    header {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      z-index: 2;
    }

    &::before {
      content: "";
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .woocommerce-breadcrumb {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
  }

  ul {
    &.products {
      li {
        &.product {
          .button {
            @extend .btn-primary;

            &.product_type_external {
              padding: 0;
              border: none;
            }
          }

          .onsale {
            width: 30px;
            height: 30px;
            line-height: 2.5;
            z-index: 2;
          }
        }
      }
    }
  }

  nav {
    &.woocommerce-pagination {
      ul {
        &.page-numbers {
          border: none;
        }

        li {
          display: inline-block;
          width: 35px;
          height: 35px;
          border-radius: 50px;
          margin-right: 10px;
          border: 1px solid #ccc;

          &:last-child {
            margin-right: 0;
          }

          a,
          span {
            display: block;
            width: 100%;
            height: 100%;
          }

          span {
            &.current {
              @extend %pagination-active;
            }
          }

          a {
            &:focus,
            &:hover {
              @extend %pagination-active;
            }
          }
        }
      }
    }
  }
}
