html,
body {
  -webkit-font-smoothing: antialiased;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

img {
  max-width: 100%;
}

h1,
.h1 {
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 12px;

  @include media-breakpoint-down(md) {
    font-size: 28px;
  }
}

h2,
.h2 {
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 1.2rem;

  @include media-breakpoint-down(md) {
    font-size: 24px;
  }
}

p {
  line-height: 1.8;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
}

.brand-primary {
  color: #6250d1;
}

.text-center {
  text-align: center;
}

.container {
  @include media-breakpoint-down(md) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
